/* Variables */
:root {
  --personal: #59c173;
  --light: #dceeea;
  --grey: #6d6e73;
}
/* End of Variables */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End of Resets */

input,
button {
  border: none;
  outline: none;
  padding: 0.75em;
  border: 1px solid var(--grey);
}

body {
  font-family: "IBM Plex Serif", serif;
  background: linear-gradient(
    322deg,
    rgb(84, 180, 53) 25%,
    rgba(28, 28, 28, 1) 25%,
    rgba(28, 28, 28, 1) 35%,
    rgba(43, 46, 39, 1) 35%,
    rgba(43, 46, 39, 1) 42%,
    rgba(28, 28, 28, 1) 42%,
    rgba(28, 28, 28, 1) 92%,
    rgb(84, 180, 53) 92%,
    rgb(84, 180, 53) 100%
  );
  background-attachment: fixed;
  color: aliceblue;
}

.app {
  width: 95%;
  margin: auto;
}

div#header {
  display: flex;
  align-items: flex-end;
  margin-top: 1.5em;
  padding: 1.5em;
}

#header h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px var(--grey);
}

div.input-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* flex-wrap: wrap; */
  /* margin: auto; */
  padding: 0.5em 1.5em;
  width: 100%;
}

#date {
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

div.user-input {
  display: flex;
}

.user-input input {
  width: 85%;
  background-color: var(--light);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: inherit;
}

.user-input input:focus {
  box-shadow: 0 0 8px var(--personal);
  border: 1px solid var(--personal);
}

.user-input button {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--personal);
  width: fit-content;
  color: black;
  font-weight: bold;
  transition: 1s;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.user-input button:hover {
  background-color: transparent;
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

/* To do List */

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 1.5em;
  /* border: 1px solid red; */
}

.to-do-list i {
  color: #c9d1c8;
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: #5b7065;
}

.to-do-list button {
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  margin-top: 0;
  padding: 0.5em;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 1px solid #c9d1c8;
  border-radius: 8px;
  padding: 0.5em 0.5em;
  box-shadow: 4px 4px 2px #c9d1c8;
  /* border: 1px solid red; */
}

.input-controller {
  display: flex;
  /* border: 1px solid red; */
}

.input-controller textarea {
  width: 85%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.3;
  color: white;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

textarea:focus {
  box-shadow: 0 0 5px white;
}

.edit-controller {
  display: flex;
  gap: 0.6em;
}

.update-controller {
  display: none;
}

@media (min-width: 768px) {
  div#header {
    justify-content: center;
  }

  #header h2 {
    font-size: 3.5rem;
  }

  #date {
    font-size: 1.5rem;
  }

  .user-input input {
    width: 90%;
  }

  .input-controller textarea {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .app {
    width: 85%;
  }
}
